<% if user_signed_in? %>
  <h1 >Welcome <%= current_user.name.capitalize %></h1>
  <div style= "margin-bottom:40px"> </div>
<% else %>
  <h1></h1>
<% end %>

    <% count = 0%>
    <div class="row">
    <% @miniposts.each do |minipost| %>

        <div class="col-4" style= "margin-bottom:40px">
        <h1><%= minipost.title %></h1>
        <h3><%= minipost.downtitle %></h1>
        <p><%= truncate(minipost.body, :length => 503) %> </p>
        <%= minipost.created_at.strftime("%F %T") %>
        <%= link_to 'Show', minipost %>
      </div>
      <% count=1 %>
      <% if count ==2 %>
        <% count =0%>
        </div>
        <div class="row">
          <% end %>

    <% end %>

    </div>

<br>

<%= link_to 'More Posts', 'posts' %>
<% if can? :create, Post %>
<%= link_to 'New Post', new_post_path %>
<% end %>
