<p id="notice"><%= notice %></p>

<h1 >Todas las Noticias:</h1>
<div style= "margin-bottom:40px"> </div>


<% count = 0%>
<div class="row">
<% @posts.each do |post| %>

    <div class="col-4" style= "margin-bottom:40px">
    <h1><%= post.title %></h1>
    <h3><%= post.downtitle %></h1>
    <p><%= post.body %> </p>
    <%= link_to 'Show', post %>
    <% if can? :create, Post %>
      <td><%= link_to 'Edit', edit_post_path(post) %></td>
      <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
  </div>
  <% count=1 %>
  <% if count ==2 %>
    <% count =0%>
    </div>
    <div class="row">
      <% end %>

<% end %>

</div>

<br>

<br>
<% if can? :create, Post %>
<%= link_to 'New Post', new_post_path %>
<% end %>
